#circle-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 500px;
    border: solid 3px black;
    flex-wrap: wrap;
}
form{
    margin-bottom: 5px;
}
textarea{
  width: 45px;
  height: 20px;
}
.crear-circulo{
    background-color: blue;
    color: white;
    padding: 10px;
    cursor: pointer;
    
}
button:hover{
    box-shadow: 0px 0px 15px gray;
}

.test{
    border-radius: 100%;
    background-color: blue;
}
.refresh{
    font-size: x-large;
}